
.tituloPrincipal {
    font-size: 25px;
    font-weight: 700;
    display: inline;
}

.tituloFormulario {
    font-size: 35px;
}

.comentarioPieDePagina {
    text-align: right;
    font-size: 18px;
    display: inline;
    font-weight: 500;
}

.parrafo {
    text-align: left;
}

.autor {
    font-weight: 500;
    font-size: 20px;
}


.titulo {
   font-size: 27px;
   font-weight: 700;
}

.negra {
    color: black;
    font-style: normal;
    font-weight: 700;
}

.title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
}


